*, *::before, *::after { box-sizing: border-box; }

body {
  margin: 0px;
}

#app {
  background-color: rgb(255, 255, 255);
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navbar {
  width: 80vw;
  border-bottom: solid;
  border-color: black;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 225, 0, 0.613);
}

#char-search {
  background-color: blueviolet;
  width: 80vw;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  border: 1px solid rgb(0, 0, 0);
}

.search-btn {
  background-color: rgba(70, 233, 119, .7);
  border: 2px solid rgb(0, 0, 0);
}

.char-row {
  width: 90%;
  height: auto;
  border: 3px solid white;
  margin: 20px;
  background-color: rgb(26, 95, 155);
  text-align: center;
}